input[type="text"] {
    display: block;
    box-sizing: border-box;
  
    height:  29px;
    margin-bottom:18px;
    border-radius:2px;
    position: relative;
  font-size:17px;
  
    
    }
.content {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
}
.button {

    margin-left:8px;
  margin-top:12px;
  border-radius: 25px;
  padding:11px;
  font-size:17px;
box-shadow:0 0 0 0.2px orange;
box-shadow:0 0 0.5px 0.4px rgb(229, 149, 240);
background-color: rgba(255, 249, 249, 0.4);
}
::placeholder {
    text-align: center;
    color:rgb(0, 0, 0,0.8);
}
button {
    width:120px;
    margin-left:8px;
    margin-top:12px;
    border-radius: 25px;
    padding:11px;
    font-size:17px;
  box-shadow:0 0 0 0.2px orange;
  box-shadow:0 0 0.5px 0.4px rgb(229, 149, 240);
  background-color: rgba(255, 249, 249, 0.4);
}

a {
    text-decoration: none;
    color:#000;
}
body {
    background-image: url(backupd.jpg);
    background-position: center;
}